
button[type="submit"] {
background-color: #5aa28b;
color: #FFF;
border: none;
padding: 10px 20px;
margin-top: 20px;
font-size: 16px;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #3e7264;
}