header {
background-color: #B4D7D2;
background-image: url('./images/logo.jpg');
background-repeat: no-repeat;
background-position: center;
height: 200px;
text-align: center;
}


header h1 {
font-size: 36px;
color: #3E7264;
padding-top: 100px;
}