
nav {
display: flex;
justify-content: center;
background-color: #7EACA2;
padding: 20px 0;

}
nav a {
  text-decoration: none; /* usuwa podkreślenie */
  color: white; /* zmienia kolor tekstu na biały */
}

nav button {
background-color: #5aa28b;
border-radius: 5px;
color: #FFF;
border: none;
padding: 10px 20px;
margin: 0 10px;
font-size: 16px;
cursor: pointer;
border: 1px solid #1aa28b;
}

nav button:hover {
background-color: 3e7264;
}


nav button {
font-size: 14px;
padding: 8px 16px;
margin: 0 5px;
}
